body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  outline: solid;
}
.container-header{
  display: flex;
  outline: solid;
  justify-content: space-around;
  align-items: center;
}
.header-links{
  display: flex;
  gap: 20px;
}
.header-body{
  outline: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-left-body{
  display: flex;
  flex-direction: column;
  padding-left: 90px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}