body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  outline: solid;
}
.container-header{
  display: flex;
  outline: solid;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  background-color: #1F2937;
  
}
.header-links{
  display: flex;
  gap: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  color: #E5E7EB;
}
.header-logo{
  font-size: 24px;
  color: #F9FAF8;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container-header-2{
  height: 300px;
  display: flex;
  
  align-items: center;
  justify-content: space-evenly;
  outline: dashed green;
  background-color:#1F2937;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.left-side{
  outline: solid pink;
  height: 200px;
}
.left-side-title{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.left-side-text{
  font-size: 18px;
}

.right-side{
  display: flex;
  align-items: center;
  height: 300px;
  width: 500px;
  outline: solid;
}

.right-image{
  height: 200px;
  width: 400px;
  padding-left: 50px;
}


.block{
  outline: solid;
  height: 200px;
  width: 200px;
  display: flex;
  flex: wrap;
}
.text{
  text-align: center;
}
.container-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  outline: solid;
  height: 100px;

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}
.block{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  
}
.container-content{
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
}

.block-image{
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.content-2-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:aquamarine;
  outline: dashed red;
  height: 250px;
  margin-top: 100px;
}
.container-content-2{
  margin-bottom: 50px;
}
.content-2-text{
  width: 420px;
  height: 90px;
  display: flex;
  flex: 0 1 auto;
  outline: solid;
  font-size: 20px;
}
.content-2-text-quoter{
  display: flex;
  justify-content: right;
  outline: solid;
  width: 410px;
}
.container-of-container-3{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container-3-block{
  background-color: cadetblue;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  outline: solid;
}
.container-3-text-top{
  display: flex;
  outline: solid;
  width: 225px;
}
.container-3-button{
  display: flex;
  outline: solid;
  width: 100px;
}
.button-2{
  padding: 5px;
  width: 75px;
}
.footer{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid;
  height: 75px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  background-color: #3882F6;
  padding: 5px;
  color: white;
  outline:solid white 1px;
  
}