body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  outline: solid;
}
.container-header{
  display: flex;
  outline: solid;
  justify-content: space-around;
  align-items: center;
}
.header-links{
  display: flex;
  gap: 20px;
}
.header-body{
  outline: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.header-left-body{
  display: flex;
  flex-direction: column;
  text-align: center;
  outline: solid;
  width: 375px;
}
.header-right-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 75px;
}
.header-text-body{
  outline: solid;
}
.header-button-signup{
  outline: dashed red;
  width: 220px;
  display: flex;
  justify-content: right;
}
.button-header{
  padding: 5px;
  width: 75px;
}

.block{
  outline: solid;
  height: 200px;
  width: 200px;
  display: flex;
  flex: wrap;
}
.text{
  text-align: center;
}
.container-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  outline: solid;
  height: 100px;
}
.block{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  
}
.container-content{
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
}

.text{
  text-align: center;
}

.placeholder-image{
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.block-image{
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.content-2-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:aquamarine;
  outline: dashed red;
  height: 250px;
  margin-top: 100px;
}
.container-content-2{
  margin-bottom: 50px;
}
.content-2-text{
  width: 420px;
  height: 90px;
  display: flex;
  flex: 0 1 auto;
  outline: solid;
  font-size: 20px;
}
.content-2-text-quoter{
  display: flex;
  justify-content: right;
  outline: solid;
  width: 410px;
}
.container-of-container-3{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container-3-block{
  background-color: cadetblue;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  outline: solid;
}
.container-3-text-top{
  display: flex;
  outline: solid;
  width: 225px;
}
.container-3-button{
  display: flex;
  outline: solid;
  width: 100px;
}
.button-2{
  padding: 5px;
  width: 75px;
}
.footer{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid;
  height: 75px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}